.bg {
  background-color: #ebedee;
  padding-top: 41px;
  padding-bottom: 64px;
}

.accent {
  font-weight: bold;
}

.breadcrumb {
  padding: 0 0.5rem;
}

.breadcrumb_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  color: gray;
  margin: 0;
  padding: 0;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: '>';
}

.current {
  color: #4e9dd3;
}

.delivery_wrapper {
  padding: 70px 0;
  display: flex;
  align-items:center;
  gap: 100px;
}

.delivery_info {
  max-width: 470px;
}
.delivery_title {
  font-size: 42px;
  margin: 24px 0;
}

.delivery_description{
  margin: 17px 0;
}

.subtitle {
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 18px;
}

.map {
  border: 0;
  width: 100%;
}

.text p {
  margin-bottom: 10px;
  line-height: 130%;
}
