.news {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}
.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36.5px;
}
.news_container {
  width: 100%;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.all_news {
  width: 189px;
  height: 52px;
  border-radius: 3px;
  border: 1px solid #4e9dd3;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.05px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.news_item {
  width: 370px;
  height: 420px;
  border: 1px solid #ededf0;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
}
.news_item__image {
  width: 370px;
  height: 210px;
  border-radius: 5px 5px 0 0;
}
.news_date {
  font-weight: 600;
  font-size: 14px;
  line-height: 17.05px;
  color: rgba(150, 150, 150, 1);
}
.news_item__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
}
.news_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.05px;
}
